html {
  background-color: #f0f0f0;
}

body {
  background-image: url(https://images.pexels.com/photos/19670/pexels-photo.jpg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260);
  font-family: 'Roboto','Helvetica Neue', Helvetica, Arial, sans-serif;
  font-style: normal;
  font-weight: 400;
  letter-spacing: 0;
  padding-top: 1rem;
  padding-bottom: 1rem;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -moz-font-feature-settings: "liga" on;
}

caption {
  background-color: #13475e;
  border-bottom: thick double #0b2734;
  border-left: thick double #0b2734;
  border-right: thick double #0b2734;
  border-top: 5px solid #303030;
  text-align: center;
}

#month {
  background-color: #13475e;
  font-size: 2.50em;
  color: white;
  text-align: center;
}

#year {
  background-color: #13475e;
  color: white;
  text-align: center;
  font-size: 1.75em;
  font-weight: normal;
}

#l-arrow {
  background-color: #13475e;
  color: white;
  text-align: left;
  font-size: 1.3em;
  padding-left: 20px;
  font-weight: lighter;
}

#r-arrow {
  background-color: #13475e;
  color: white;
  text-align: right;
  font-size: 1.3em;
  padding-right: 20px;
  font-weight: lighter;
}

#add-event,.btn:active {
  outline: none !important;
  box-shadow: none;
  font-size: 35px;
  font-weight: 900;
  margin-left: 750px;
  border: none;
}

table {
  height: 600px;
  width: 840px;
  background-color: #85ccec;
  border-top: thick double #0b2734;
  border-left: thick double #0b2734;
  border-right: thick double #0b2734;
}

col.weekend {
  background-color: #b8b8b8;
}

th.days {
  width: 13.6%;
  border-bottom: 10px solid #303030;
  font-size: 1.05em;
  padding-top: 30px;
  text-align: center;
}

.table-hover>tbody>tr>td:hover, .table-hover>tbody>tr>td:hover{
        background-color: #fabb77!important;
    }

/* .table-hover>tbody>tr:hover>td, .table-hover>tbody>tr:hover>th{
        background-color: #feecd9;
    } */

td {
  color: white;
  font-size: 3.2em;
  text-align: center;
  background-color: #E1F3F7;
  width: 13.6%;
}

button.cal-button,.btn:active {
   outline: none !important;
   box-shadow: none;
   color: white;
   font-size: 1.2em;
   text-align: center;
   background: none;
   border: none;
}

td.empty {
  color: white;
  font-size: 3.2em;
  text-align: center;
  background-color: #85ccec;
  width: 13.6%;
}

div.card {
  height: 200px;
  width: 280px;
  background-color: white;
  border-radius: 0.25rem;
  box-shadow: 0 20px 40px -14px rgba(0,0,0,0.25);
  display: flex;
  flex-direction: column;
  overflow: hidden;
  display: flex;
  flex: 1 1 auto;
  flex-direction: column;
  padding: 1rem;
  margin-left: 100px;
}

p {
  font-size: 0.85em;
  color: black;
}

h3 {
  font-size: 1.25em;
  color: black;
}

ul.w_internal_meeting {
  font-size: 1.00em;
  color: white;
  background: blue;
}

ul.w_client_meeting {
  font-size: 1.00em;
  color: white;
  background: green;
}

ul.w_party {
  font-size: 1.00em;
  color: black;
  background: lime;
}

ul.networking {
  font-size: 1.00em;
  color: black;
  background: orange;
}

ul.p_meeting {
  font-size: 1.00em;
  color: white;
  background: navy;
}

ul.p_party {
  font-size: 1.00em;
  color: white;
  background: fuchsia;
}

ul.p_wellness {
  font-size: 1.00em;
  color: black;
  background: aqua;
}

ul.s_reminder {
  font-size: 1.00em;
  color: white;
  background: red;
}

ul.all_day_reminder {
  font-size: 1.00em;
  color: white;
  background: maroon;
}

ul.birthday {
  font-size: 1.00em;
  color: white;
  background: purple;
}
